body {
  margin: 0px;
  margin-top:70px;
}

.navbar-fixed-top h1 {
  text-align: center;
}

.underline {
  border-bottom: 5px solid black;
  float:left;
  padding-right:10px;
  padding-bottom: 10px;
  margin-right: 10px;
  margin-top:20px;
  height:20px;
  line-height: 10px;
  font-size: 20px;
  width:20px;
}

.hidden {
  visibility: hidden;
}
.show {
  visibility: visible;
}

#placeHolder {
  width: 512px;
  Height:50px;
  background-color: grey;
  border-radius: 5px;
  position: absolute;
  bottom:30px;
  display: inline-block;
  text-align: center;
}

.count {
  display: inline-block;
  margin:15px;
}

.box {
  width:512px;
}

#hangman {
  width:512px;
  height:512px;
  background: url(../images/Hangman.jpg) top left no-repeat;
  border-radius: 15px;
  position: relative;
}

.letters {
  font-size: 20px;
  line-height: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
